body {
 	background-color: yellow;
}
#container {
	background-color: red;
	width: 960px;
	margin-left: auto;
	margin-right : auto;
}
#header {
	background-color: green;
	height : 80px;
}
#nav {
	background-color: brown;
	height : 50px;
}
.body-content {
	background-color: black;
	color : white;
	width : 70%;
	height : 700px;
	float : left;
}
#sidebar {
	background-color: blue;
	width : 30%;
	height : 700px;
	float : left;
}
#footer {
	background-color: violet;
	height : 50px;
	clear : both;
}